$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.sorting-container {
  margin: 20px;

  .sorting-element {
    width: 200px;
    padding: 10px;
  }
}

.product-container {
  margin: 20px 0px;
  padding: 20px;

  img {
    background-image: url("../images/image_not_found.png");
    display: block;
    max-width: 97%;
    width: auto;
    height: auto;
    margin: auto;
  }

  .product-info {
    padding: 20px 30px;
  }

  .product-title {
    height: 40px;
  }

  .product-detail {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    top: 0;
    left: 40;
    border: solid 1px #000000;
    padding: 15px;

    .product-images-sizes {
      border: solid 2px #999999;
      padding: 0;

      .product-images {
        .product-shown-image {
          max-height: 400px;
        }

        .thumb {
          position: absolute;
          height: 50px;
          top: 40px;
          left: 30px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .product-sizes {
        padding: 10px;
        height: 80px;
        background-color: #888888;
        color: #ffffff;
        text-align: center;

        p {
          margin: 0;
        }
      }
    }

    .product-title-price-brand {
      text-align: center;

      p {
        margin-bottom: 0;
      }

      .brand {
        color: #cccccc;
      }
    }

    .star-ratings-css {
      margin: auto;
    }
  }
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 15px;
  height: 25px;
  width: 75px;
  margin: 0;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #111111;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

  b {
    text-shadow: none;
    color: #000000;
    padding-left: 10px;
  }
}
