input, textarea, select {
	&.ng-valid.ng-dirty {
		border: 1px solid #7db394;
	}
	&.ng-invalid.ng-dirty {
		border: 1px solid #eb4141;
	}
}

.image_preview {
	display: block;
	width: 300px;
	height: auto;
	margin-bottom: 10px;
}

.alert {
	&.alert-ok {
		@extend .alert-success;
	}
	&.alert-fail {
		@extend .alert-danger;
	}
}
