<div class="container">
  <div class="row sorting-container">
    <div class="col-xs-12">
      <div class="col-xs-6 sorting-element">
        <select class="form-control" ng-model="order_by" ng-change="order()">
          <option value="id">Choose to sort</option>
          <option value="price">Price</option>
          <option value="title">Title</option>
        </select>
      </div>
      <div class="col-xs-6 sorting-element">
        <select class="form-control" ng-model="reverse" ng-change="order()">
          <option value="false">Ascending</option>
          <option value="true">Descending</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="product in products" class="col-lg-3 col-md-4 col-sm-6 product-container">
      <div class="col-md-12">
        <img src="{{product.primary_image}}" onerror="this.src='../../images/image_not_found.png'">
        <div class="col-md-12 product-info">
          </br>
          <div class="product-title">
            <p><b>{{product.title}}</b></p>
          </div>
          <p><b>${{product.price}}</b></p>
          <div class="star-ratings-css">
            <div class="star-ratings-css-top" style="width: {{product.rating / 5.0 * 100}}%">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
            <span class="star-ratings-css-bottom">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span><b>({{product.rating}})</b></span>
            </span>
          </div>
          </br>
          <div>
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="thank_you()" title="Try me">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="product_detail(product.id)" title="Detail">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
